/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%;
     }
* {
     /* margin: 0; */
     font-family: "Tahoma" !important;
     font-size: 13px;
     }
