<div class="row justify-content-md-center" dir="rtl">

  <div class="col-md-6 overflow-auto" style="margin-top: 50px;">
    <button type="button" class="btn btn-primary" style="float: right;" (click)="addNew()">ثبت کارمند جدید</button>

    <table>

      <thead>
        <tr style="    background-color: #9a9a9a;">
          <th>کد کارمند </th>
          <th>نام و نام خانوادگی </th>
          <th>حقوق</th>
          <th>سن</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of employeeList">
          <td style="width: 5%;">
            {{item.id}}
          </td>
          <td style="width: 30%;">
            {{item.employee_name}}
          </td>
          <td style="width: 20%;">
            {{item.employee_salary}}
          </td>
          <td style="width: 20%;">
            {{item.employee_age}}
          </td>
          <td style="width: 8%;">
            <button type="button" class="btn btn-sm btn-danger" style="float: right;" (click)="delete(item.id)">حذف
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>