table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
    text-align: center;

  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }