<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="sidenav" opened="true" [fixedInViewport]="true" position="end"
    style="margin-top: 0px;" *ngIf="showLogout()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/employee'" dir="rtl"> مدیریت کارمندان </a>
      <a mat-list-item [routerLink]="'/chat'" dir="rtl"> چت </a>
      <a mat-list-item (click)="logout()" dir="rtl"> خروج </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="overflow: unset;">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>