<div class="row justify-content-md-center">



    <div class="col-md-4">



        <form [formGroup]="chatFormA" id="chatFormA" class="chat-box">
            <h5>کاربر یک</h5>
            <div class="message-box">
                <div *ngFor="let item of messageList">
                    <p [ngClass]="(item.sender=='1')? 'sender':'receiver'">{{ item.text }}</p>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" (click)="send(1)">ارسال</button>
                </div>
                <input type="text" class="form-control" formControlName="message" class="message-input">
            </div>

        </form>
    </div>
    <div class="col-md-4">
        <form [formGroup]="chatFormB" id="chatFormB" class="chat-box">
            <h5>کاربر دو</h5>

            <div class="message-box">
                <div *ngFor="let item of messageList">
                    <p [ngClass]="(item.sender=='2')? 'sender':'receiver'">{{ item.text }} </p>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" (click)="send(2)">ارسال</button>
                </div>
                <input type="text" class="form-control" formControlName="message" class="message-input">
            </div>
        </form>
    </div>
</div>