.chat-box > h5{
    float: right;
}
.message-box{
    min-height: 120px;
    border: 1px solid #f4f5fd;
    overflow-y: auto;
    /* max-height: 200px; */
}

.message-box .sender {
    text-align: right;
    direction: rtl;
    background-color: greenyellow;
}


.message-box .receiver {
    text-align: left;
    direction: rtl;
    background-color: khaki;
}

.message-input{
    direction: rtl;
    text-align: right;
}