<div class="row justify-content-md-center" dir="rtl">

    <div class="col-md-3 overflow-auto" style="margin-top: 50px;">

        <form [formGroup]="loginForm" id="loginForm">

            <div class="form-group">
                <label for="userName" style="float: right;">نام کاربر </label>
                <input type="text" class="form-control" id="userName" formControlName="userName">
            </div>

            <div class="form-group">
                <label for="password" style="float: right;">رمز</label>
                <input type="text" class="form-control" id="password" formControlName="password">
            </div>


            <button type="button" class="btn btn-primary" style="float: right;" (click)="login()">ورود </button>
        </form>
    </div>
</div>