<div class="row justify-content-md-center" dir="rtl">

    <div class="col-md-3 overflow-auto" style="margin-top: 50px;">

        <form [formGroup]="employeeAddForm" id="employeeAddForm">

            <div class="form-group">
                <label for="firstName">نام </label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>

            <div class="form-group">
                <label for="lastName">نام خانوادگی</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>

            <div class="form-group">
                <label for="age">سن</label>
                <input type="number" class="form-control" id="age" formControlName="age">
            </div>

            <div class="form-group">
                <label for="salary">حقوق</label>
                <input type="number" class="form-control" id="salary" formControlName="salary">
            </div>

            <button type="button" class="btn btn-primary" style="float: right;" (click)="add()">ثبت </button>
        </form>
    </div>
</div>